<nav class="hor">
    <ul class="nav">
        <li class="nav-item">
            <a href="/">Accueil</a>
        </li>
        <li class="nav-item">
            <a href="/services">Services</a>
        </li>
        {{#if user}} <!-- si on est connecté -->
        <li class="nav-item">
            <a href="/admin">Panel</a>
        </li>
        {{else}}
        <li class="nav-item">
            <a href="/signin">Se connecter</a>
        </li>
        {{/if}}

    </ul>
</nav>