<!DOCTYPE html>
<html lang="en">

<head>
    {{> partials/head}}
</head>

<body>

    <div class="header">
        {{> partials/header}}
        {{> partials/menu}}
    </div>
    <section class="main">
        {{{body}}}
    </section>

    {{> partials/footer}}
</body>

</html>