<template>
  <div class="body">
    <Header />
    admin.vue 
    <slot />
    <Footer />
  </div>
</template>

<script>
  import Header from '@/components/site/Header'
  import Footer from '@/components/site/Footer'
  export default {
    name: 'dashboard-layout',
    components: {
      Header,
      Footer
    },
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

</style>
