<template>
  <div>
    <form class="login" @submit.prevent="login">
      <h1>Se connecter</h1>
      <label>Email</label>
      <input required v-model="email" type="email" placeholder="Name" autofocus />
      <label>Password</label>
      <input required v-model="password" type="password" placeholder="Password" />
      <hr />
      <button type="submit">Login</button>
    </form>
  </div>
</template>

<script>
import Layout from "@/layouts/Default"

  export default {
    created: function () {
      this.$emit('update:layout', Layout);
    },
    name: "Login",
    data() {
      return {
        email: "",
        password: ""
      }
    },
    methods: {
      login: function () {
        let email = this.email 
        let password = this.password
        this.$store.dispatch('login', { email, password })
       .then(() => this.$router.push('/admin'))
       .catch(err => console.log(err))
      }
    }
  }
</script>