<template>
  <div id="header">
    <div id="title">
      <h1>Mon super CMS</h1>
    </div>
    <Navigation></Navigation>
  </div>
</template>

<style lang="scss" scoped>
  #header {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
  }
  nav{
    margin-left: auto;
  }
</style>

<script>
  import Navigation from '@/components/site/Navigation'
  export default {
    name: 'Header',
    components: {
      "Navigation": Navigation
    }
  }
</script>
