<template>
  <nav class="nav">
    <router-link v-for="routes in links" v-bind:key="routes.id" :to="`${routes.page}`">{{routes.text}}</router-link>
    <!--<router-link v-if="isLoggedIn" to="dashboard">Dashboard</router-link>-->
    <router-link v-if="isLoggedIn" to="/admin">Admin</router-link>
    <a v-if="isLoggedIn" @click="logout">logout</a>
    <router-link  v-else :to="{ path: '/login' }">Se connecter</router-link>
  </nav>
</template>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
  .nav a {
    padding: 5px;
  }
</style>

<script>
  import router from '@/router/index'
  export default {
    name: 'Navigation',
    data() {
      return {
        links: [{
            id: 0,
            text: 'Accueil',
            page: '/'
          },
          {
            id: 1,
            text: 'truc',
            page: '/p/truc'
          },
          {
            id: 2,
            text: 'A propos',
            page: '/p/about'
          }
        ]
      }
    },
    computed: {
      isLoggedIn: function () {
        return this.$store.getters.isLoggedIn
      }
    },
    methods: {
      logout: function () {
        this.$store.dispatch('logout')
          .then(() => {
            this.$router.push('/login')
          })
      }
    },
  }
</script>